# Ignore Makefiles and Build scripts in GitHub Language Stats
Makefile linguist-vendored
Makefile.* linguist-vendored
*.mk linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Force all headers and source files to be recognized as C++
*.h linguist-language=C++
*.hpp linguist-language=C++
*.cpp linguist-language=C++
