# 1. Ignore Makefiles & Build files from language stats
Makefile linguist-vendored
Makefile.* linguist-vendored
*.mk linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# 2. Treat all C/C++ files strictly as C++
*.h linguist-language=C++
*.hpp linguist-language=C++
*.cpp linguist-language=C++
*.c linguist-language=C++

